/*Part 1 Universal Margin, Padding and Body Size */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Popup*/
#Popupmain{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.6);
  z-index: 1001;
}

/* Popup background image*/
#popup{
  width: 500px;
  height: 250px;
  background-image:url(popup.jpg);
  background-size: cover;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 5px 3px whitesmoke;
  font-family: Quintessential,sans-serif;
}

#popup:hover{
  background-color: rgb(228, 6, 50);
  box-shadow: 5px 5px 5px rgb(5, 5, 5), 10px 10px 10px;
}
/* FILL ME*/
h6{
  text-align:center;
  font-size: 30px;
  margin: 10px auto 10px;
  font-family: Quintessential,sans-serif;
}

#scary{
  transform: translateY(50px);
  color:whitesmoke;
}

#emailid{
  height: 40px;
  width: 60%;
  padding: 5px;
  margin-top: 68px;
  margin-bottom: 12px;
  text-align: center;
  margin-left: 89px;
  font-family: Quintessential,sans-serif;
  font-style: bold;
  font-size: medium;
}

/* button*/
.submitid{
  text-align: center;
  background-color: #0fc0fa;
  border: none;
  font-size: 1rem;
  padding: 0.6rem 0.6rem;
  color: whitesmoke;
  margin-left: 96px;
  margin-right: 10px;
  font-family: Quintessential,sans-serif;

}

/* add hover color change of button*/
.submitid:hover{
  background-color: rgb(228, 6, 50);
  box-shadow: 5px 5px 5px rgb(5, 5, 5), 10px 10px 10px;
}

/* close image*/
.close{
  position: absolute;
  top: -15px;
  right: -15px;
  background:#fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow:5px 5px 5px rgb(5, 5, 5), 10px 10px 10px;
  cursor: pointer;
}


/*Navigation Bar position absolute */ 
  .navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 218, 245);
  position: relative;
  top: 0; 
  }

  .navbar {
    background-color: rgb(17, 218, 245);
    font-size: 2px;
  }

  .responsive{
  width:100%;
  height: auto;
  }

/* logo height width position set */
.logo{
  height: 50px;
  width: 80px;
  position: relative;
  left: 20px;
  right: 6px;
  top: -0.10px;
  
}
.logo img{
    top: 3px;
    height: auto;
    width: 80px;
    position: relative;
    left: 1px;
  }

/*Navbar Unlist (ul) */
.navbar ul{
  display: flex;
  list-style: none;
  margin: 10px 0;
}

/*Navbar Unlist List*/
/* add padding to create the navbar list display better */
.navbar ul li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
  padding: 8px 25px;
  transition: all.5s ease;
}


  body {
    font-family: Quintessential,sans-serif;
    background-color: rgb(17, 218, 245);
    font-size: 14px;
  }


/* Add nab bar color change on click*/
.navbar ul li:hover{
  background-color: whitesmoke;
  color: aqua;
  box-shadow: 5px 5px 5px rgb(243, 247, 14), 10px 10px 10px white;
}

/*Sections (bg color light shadow under navigation bar / whole background image) */

#home{
  display: flex;
  flex-direction: column;
  background-color: rgba(12, 130, 167, 0.5);
  height: auto;
  justify-content: center;
  align-items: center;
}

  body {
    background-color: rgba(12, 130, 167, 0.5);
  }

/*z-index is used to display the elements towards z axis */
  #home::before{
  content: "";
  position: relative;
  top: 0;
  right: 0;
  background:url("women2.png") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  }

  .responsive{
  width:100%;
  height: auto;
  }

/*To change name postion Anoushka Sundaram h1 */
  .main{
  display: flex;
  flex-direction: column;
  /*border: 1px solid whitesmoke */
  align-items: center;
  position: absolute;
  top:30%;
  right: 10%;
  }

/* add font to Anoushka Sundaram */
  .heading {
  font-family: Quintessential,sans-serif ;
  font-size: 80px;
  text-align: center;
  margin: 18px 0px;
  }

/* Enquiry Button effect */
  .btn{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,sans-serif ;
  font-size: large;
  padding: 10px 35px;
  background-color: khaki;
  border: 1px solid whitesmoke;
  color: rgb(5, 7, 7);
  outline: none;
  transition: .6s ease;
  }

  /* effect to Enquiry button and border color */
  .btn:hover{
  cursor: pointer;
  background-color: whitesmoke;
  color:black;
  box-shadow: 5px 5px 5px rgb(243, 247, 14), 10px 10px 10px white;
  font-weight: bold;
  }

/* Page 2 About Me */
/* # ID . Class */
  #about{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 35px;
  top:2px;
  justify-content: center;
  font-size: 52px;
  text-align: center;
  }

/* second image about us */
/* # ID */
 
  #About_image{
  display: flex;
  justify-content: center;
  box-shadow: black;
  
  }

  #About img{
  height: auto;
  width: 180px;
  position: relative;
  top: 20px;
  left: 15px;
  padding: 25px;
  box-shadow: rgba(6, 7, 7, 0.5);

  }

.headings {
  font-family: Quintessential,sans-serif ;
  font-size: 60px;
  text-align: center;
  margin: 12px 0px;
  box-shadow: palevioletred;
}

#pic{
  display: flex;
}

#pic image{
  width: 30px;
  height: 30px;
}

.responsive{
  width:100%;
  height: auto;
}

/* introduction about me */
  #introduction{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 8px;
  top: 100px;
  justify-content: center;
}

  #introduction p{
  height: auto;
  width: 400px;
  }
 /* h2 is for Name */
  #introduction h2{
  font-size: 40px;
  margin-bottom: 2px;
  }

  p{
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 1px;
  }

.responsive{
  width:100%;
  height: auto;
  width: auto;
}

/*Page 3 Painting*/

#Painting{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 35px;
  top: 2px;
  justify-content: center;
  box-shadow: palevioletred;
  font-size: 52px;
  text-align: center;
}

/* changes added 3d flip card*/
.container{
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

h1{
  color: black;
  text-align: center;
  font-size: medium;
  margin: 100px auto 50px;
  font-family: Quintessential,sans-serif;
}

h2{
  color: black;
  text-align: center;
  font-family: Quintessential,sans-serif;
}
/* add images to flip card*/
.row{
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.col{
  flex-basis: 30%;
  overflow: hidden;
}

/* card size*/
.card{
  width: 200px;
  height: 240px;
  margin: auto;
  perspective: 1000px;
  cursor: pointer;
}

.inner-box{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: transform 1s;
  transform-style:preserve-3d ;
}

/* both card at same position*/
.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
/* time to add image*/ 
.card-front{
  background-position: center;
  background-size: cover;
}

span{
  display: inline-block;
  width: 100px;
  padding: 1px 0;
  margin-top: 160px;
  border-radius: 4px;
  background:#fff;
  color: #333;
}

/* Card to flip in 180deg transition is added in inner-box*/
.card-back{
  background:#1c1f54;
  transform: rotateX(180deg);
} 

.card:hover .inner-box{
  transform: rotateX(-180deg); 
}
/* when card rotate the name also rotate*/
.card:hover span{
  transform: translateY(140px);
}

.social-media img{
  width: 80px;
  margin: 28px 28px;
}

.button{
  width: 89px;
  margin: 28px 28px;
}

/* Flip Card 2*/
.front-1{
  background-image:url(paint5.png);
}

.front-2{
  background-image:url(paint12.png);
}

.front-3{
  background-image:url(paint2.jpg);
}

.front-4{
  background-image:url(paint1.jpg);
}

.front-5{
  background-image:url(paint4.jpg);
}

/*Page 4 Artist */
#Artist{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 35px;
  top: 2px;
  justify-content: center;
  box-shadow: palevioletred;
}

/* Artist paragraph has height width*/
#Artist p{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 30px;
  top:2px;
  justify-content: center;
  height: auto;
  width: 500px;
}

/*photos to add for mini canvas*/

.photos img {
  display: flex;
  float: right;
  justify-content: right;
  top: 20px;
  left: 20px;
  height: auto;
  width: 360px;

}

.photos_3{
  display: flex;
  float: right;
  justify-content: right;
  top: 20px;
  left: 20px;
  height: auto;
  width: 360px;
}

.photos img:hover{
  cursor: pointer;
  background-color: whitesmoke;
  color:black;
  box-shadow: 1px 1px 1px rgb(243, 247, 14), 10px 10px 10px white;
  font-weight: bold;
}

/* Flip Image */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  }

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  
}

.flip-box-back {
  background-color: none;
  color: none;
  transform: rotateY(180deg);
}


/*Page 5 Contactme height width*/
#ContactMe {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: rgb(17, 218, 245);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  padding: 2px;
}

.btn{
  font-family:Quintessential,sans-serif ;
  font-size: 14px;
  padding: 10px 35px;
  background-color: rgb(248, 161, 176);
  border: 1px solid whitesmoke;
  color: rgb(5, 7, 7);
  outline: none;
  transition: .6s ease;
  margin: 0 20px 0 26px;
}

/*Media query using for mobile phone*/
[class*="col-"] {
  width: 100%;}

/* Page 6 Footer*/
#Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: rgb(17, 218, 245);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  padding: 2px;
}

.btn{
  font-family:Quintessential,sans-serif ;
  font-size: 14px;
  padding: 10px 35px;
  background-color: rgb(248, 161, 176);
  border: 1px solid whitesmoke;
  color: rgb(5, 7, 7);
  outline: none;
  transition: .6s ease;
  margin: 0 20px 0 26px;
}
